# Database
DATABASE_URL=
DIRECT_URL=

# App URL (public)
NEXT_PUBLIC_APP_URL=

# Google Maps (public)
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# Auth
AUTH_SECRET=

# Upstash Redis (for rate limiting)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Cloudinary
CLOUDINARY_URL=

# Alpha Vantage
ALPHA_VANTAGE_KEY=